// about section
#about {
	color: #142850;
	.content {
		margin-top: 50px;

		.hr-tittle {
			h1 {
				text-transform: uppercase;
				font-size: 1.5rem;
			}
		}
		.about-wrap {
			display: grid;
			gap: 10;
			grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

			margin: 50px auto;

			.col {
				p {
					color: #142850;
				}
				img {
					width: 100%;
					height: 100%;
					border-radius: 10px;
				}
			}
		}
	}
}

// Offers
.offers {
	.service-item {
		i {
			border: 1px solid #142850;
			border-radius: 50%;
			padding: 25px;
		}
	}
}

// Media Queries
@media only screen and (max-width: 500px) {
	#about {
		.content {
			.about-wrap {
				grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
			}
		}
	}
}
